.product-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.item-wrapper{
    width: 220px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}


.add-btn {
    border: 1px solid green;
    background: #e6f4ea;
    color: green;
    padding: 6px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #d8f3e7;
    padding: 5px 10px;
    border-radius: 8px;
}

.qty-box button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    color: green;
}

.qty-box span {
    width: 20px;
    text-align: center;
}
